{{#if isShowingLoading}}
    {{fontawesome-spinner}}
{{else}}
    {{friends/create-form model=model save=(action 'save')}}
{{/if}}

{{#if isShowingModal}}
    {{#modal-dialog onClose="hideModal"
        targetAttachment="center"
        translucentOverlay=true}}
        <div id="success-modal">
            <label>Amigo cadastrado</label>
            <button id="btn-created" class="btn btn-default btn-block" {{action 'goBack'}}>Voltar</button>
        </div>
    {{/modal-dialog}}
{{/if}}

{{back-button route="friends.list"}}
