{{#if isShowingLoading}}
    {{fontawesome-spinner}}
{{else}}
    {{friends/edit-form model=model save=(action 'save')}}
{{/if}}

{{#if isShowingSuccessModal}}
    {{#modal-dialog onClose="hideSuccessModal"
        targetAttachment="center"
        translucentOverlay=true}}
        <div id="success-modal">
            <label>Amigo editado</label>
            <button id="btn-edited" class="btn btn-default btn-block" {{action 'goBack'}}>Voltar</button>
        </div>
    {{/modal-dialog}}
{{/if}}

{{back-button route="friends.detail" model=model}}
